html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 0.5em 1em;
}

.logo img {
  height: 20px;
}

.acoes {
  display: flex;
  align-items: center;
}

.usuario-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.usuario-dados-nome {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
}
.usuario-dados {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.usuario-foto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: #333 solid 1px;
  object-fit: cover;
}

.usuario-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.usuario-dropdown:hover .dropdown-content {
  /* background-color: #202020; */
  display: block;
}

.dropdown-content span{
  color: #333 !important;
}

.dropdown-content {
  font-size: 13px;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #EDF2FA;
  font-weight: 500;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 2px;
  width: 24px;
  text-align: center;
  padding: 0;
}
