<nav class="navbar">
  <div class="container">

    <!-- Logotipo à esquerda -->
    <div class="logo">
      <img src="../../../assets/images/logo-djericmax-novo-mini.jpg" alt="Logo">
    </div>

    <!-- Ações à direita -->
    <div class="acoes">
      <div class="nav-item" *ngIf="!usuarioLogado()">
        <a class="nav-link text-dark" [routerLink]="['/']">
          <i class="material-icons">login</i><span>Entrar</span>
        </a>
      </div>

      <div *ngIf="usuarioLogado()" class="usuario-dropdown">
        <div class="usuario-container">
          <div class="usuario-dados">
            <div>{{ usuario.nome }} {{ usuario.sobreNome }}</div>
            <div>{{ usuario.cpf }}</div>
          </div>
          <img [src]="'../../../assets/users/' + usuario.fotoUrl + '.jpg'" alt="Foto" class="usuario-foto">
        </div>

        <div class="dropdown-content">

          <a class="nav-item nav-link" [routerLink]="['/ajuda-usuario']">
            <i class="material-icons">forum</i><span>Ajuda</span>
          </a>
          <a class="nav-item nav-link" [routerLink]="['/meus-dados']">
            <i class="material-icons">person</i><span>Meus Dados</span>
          </a>
          <a class="nav-item nav-link text-dark" (click)="sair()">
            <i class="material-icons">logout</i><span>Sair</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
