

@media screen and (max-width: 575px) {
  .contai {
    width: 540px;
    height: 760px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .contai {
    width: calc(
      58% + (100 * ((100vw - 576px) / (767 - 576)))
    );
    height: 768px;
    margin-left: -1em !important;
  }
}

@media screen and (min-width: 768px) and (height: 866px) {
  .contai {
    width: calc(
      66% + (100 * ((100vw - 768px) / (1024 - 768)))
    );
    height: 780px;
    margin-left: -0.5em !important;
  }
}

@media screen and (width: 1280px) and (height: 720px) {
  .contai {
    height: 422px;
  }
}

//monitor do notebook
@media screen and (min-width: 1024px) and (max-height: 768px) {
  .contai {
    margin-left: -1em !important;
    width: calc(
      91% + (35 * ((100vw - 768px) / (1024 - 768)))
    );
    height: calc(
      85% + (30 * ((100vw - 768px) / (1024 - 768)))
    );
  }
}

//monitor horizontal grande
@media screen and (min-width: 1920px) {
  .contai {
    // height: 856px !important;
    height: calc(
      83% + (30 * ((100vw - 768px) / (1024 - 768)))
    );
  }
}

// monitor vertical
@media screen and (width: 1080px) and (max-height: 1920px) {
  .contai {
    // width: 95% !important;
    width: calc(
      83% + (35 * ((100vw - 768px) / (1024 - 768)))
    );
    // height: 1696px;
    height: calc(
      92% + (100 * ((100vw - 768px) / (1024 - 768)))
    );
    margin: -31px auto auto -0.5em !important;
  }
}

.contairow {
  width: 100%;
}

.contaicardtop {
  padding: 3px;
}
