<div class="contaiTable">

  <div *ngIf="!servicos">
    <app-loader></app-loader>
</div>

<div class="table-responsive glass-containerTable"
 *ngIf="servicos">

  <div class="row table table-hover table-scroll">
    <div class="col-md-4 mb-3"
     *ngFor="let s of servicos">

     <a (click)="detalheServico(s, 'pesquisa')" style="cursor: pointer;">
       <div class="card contairow">
         <img class="card-top contaicardtop" src="../../../../../arquivos/{{s.nomeArquivo}}" alt="" />
         <div class="card-body">
           <h5 class="card-title">{{s.nome | truncate: 27}}</h5>
           <div class="card-text">{{textoFormatado | truncate: 100 }}</div>
           <h5 class="h5">
            {{ s.preco_Hora | currency:'BRL':'symbol':'1.2-2':'pt-BR' }} /hora
          </h5>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
</div>
