@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}



/* Layout de página com nav no topo e footer no fim */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
  margin-bottom: -30px;
}

/* NAV-MENU fixo no topo */
app-nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 49px;
}

/* FOOTER fixo no rodapé */
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 40px;
}

/* Espaço entre nav e footer */
.main-area {
  /* border: red 5px solid; */
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
  flex: 1;
  margin-bottom: 39px;
}


/* Área do conteúdo */
.content-area {
  /* border: yellowgreen 5px solid; */
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  flex: 1;
  display: flex;
  min-height: 100%;
  background: url('../assets/images/backgroundX7.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding: 0.5em 0.5em 0.5em 0.5em !important;
}

.content-area.login-page {
  background: none;
}
