@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}


/* Layout de página com nav no topo e footer no fim */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
  margin-bottom: -30px;
}

/* NAV-MENU fixo no topo */
app-nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 49px;
}

/* FOOTER fixo no rodapé */
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 40px;
}

/* Espaço entre nav e footer */
.main-area {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px); /* ajusta conforme a altura do header+footer */
  flex: 1;
  margin-top: 49px;
  margin-bottom: 39px;
  /* overflow: hidden; */
}

/* Área do conteúdo */
.content-area {
  flex: 1;
  padding: 2em;
/*  overflow-y: auto; */
  transition: all 0.3s ease;
}
