<div class="bodys">
  <form action="" class="form-signin">
    <h1 class="h4 mb-2 login">Cadastro de Serviço</h1>

    <div class="form-row">
      <div class="col-md-8 mb-2">
        <label for="inputNomeServico" class="sr-only">Serviço</label>
        <input
          type="text"
          id="inputNomeServico"
          name="nome"
          placeholder="Nome do Pacote de Serviços"
          class="form-control mb-2"
          [ngClass]="{
            'is-invalid': nome.invalid && (nome.dirty || nome.touched),
            'is-valid': nome.valid && (nome.dirty || nome.touched)
          }"
          [(ngModel)]="servico.nome"
          #nome="ngModel"
          required
        />

        <div
          class="invalid-feedback mb-2 respError"
          role="alert"
          *ngIf="nome.invalid && (nome.dirty || nome.touched)"
        >
          <div *ngIf="nome.errors.required">
            Pacote de Serviços é de preenchimento obrigatório!
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <label for="inputpreco_Hora" class="sr-only">$$ Valor por Hora</label>
        <input
          type="text"
          id="inputpreco_Hora"
          name="preco_Hora"
          placeholder="$$ Valor por Hora"
          class="form-control mb-2"
          [ngClass]="{
            'is-invalid':
              preco_Hora.invalid && (preco_Hora.dirty || preco_Hora.touched),
            'is-valid':
              preco_Hora.valid && (preco_Hora.dirty || preco_Hora.touched)
          }"
          [(ngModel)]="servico.preco_Hora"
          #preco_Hora="ngModel"
          required
        />

        <div
          class="invalid-feedback mb-2 respError"
          role="alert"
          *ngIf="preco_Hora.invalid && (preco_Hora.dirty || preco_Hora.touched)"
        >
          <div *ngIf="preco_Hora.errors.required">
            Valor por hora é obrigatório!
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-2">
        <label for="inputDescricao" class="sr-only">Descrição</label>
        <textarea
          id="inputDescricao"
          rows="5"
          name="descricao"
          placeholder="Descrição do Pacote de Serviços"
          class="form-control mb-2"
          [ngClass]="{
            'is-invalid':
              descricao.invalid && (descricao.dirty || descricao.touched),
            'is-valid':
              descricao.valid && (descricao.dirty || descricao.touched)
          }"
          [(ngModel)]="servico.descricao"
          #descricao="ngModel"
          required
          minlength="50"
        ></textarea>

        <div
          class="invalid-feedback mb-2 respError"
          role="alert"
          *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
        >
          <div *ngIf="descricao.errors.required">
            A Descrição é de preenchimento obrigatório!
          </div>
          <div *ngIf="descricao.errors.minlength">
            A Descrição deve ter o mínimo de 50 caracteres!
          </div>
        </div>
      </div>

      <div class="input-group mb-2">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="inputFile"
            (change)="inputChange($event.target.files)"
          />
          <label for="inputFile" class="custom-file-label">
            Selecione uma imagem para o Pacote de Serviços
          </label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 d-flex justify-content-end mb-2">
        <button class="btn btn-success botao" (click)="cadastrar()"
        [disabled]="ativar_spinner">
          <span class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true" *ngIf="ativar_spinner"></span>
          Salvar
        </button>

        <button class="btn btn-secondary botao" (click)="cancelar()">
          Cancelar
        </button>

      </div>
    </div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{ mensagem }}
    </div>

    <div class="alert alert-success" *ngIf="usuarioCadastrado">
      Usuário cadastrado com sucesso!
      <a class="alert-link" [routerLink]="['/']">Clique aqui</a>
      para acessar o sistema com a sua conta.
    </div>


  </form>
</div>
