
@media screen and (max-width: 575px) {
  .tabela-scroll-wrapper {
    height: 780px;
    min-height: 100% !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .tabela-scroll-wrapper {
    height: 700px;
    min-height: 100% !important;
  }
}

@media screen and (min-width: 800px) and (max-height: 600px) {
  .tabela-scroll-wrapper {
    height: 300px;
    min-height: 100% !important;
  }
}

@media screen and (width: 1280px) and (height: 720px) {
  .tabela-scroll-wrapper {
    height: 422px;
    min-height: 100% !important;
  }
}

//monitor do notebook
@media screen and (min-width: 1024px) and (max-height: 768px) {
  .tabela-scroll-wrapper {
    height: 470px;
    min-height: 100% !important;
  }
}

// monitor vertical
@media screen and (width: 1080px) and (max-height: 1920px) {
  .tabela-scroll-wrapper {
    height: 1625px;
    min-height: 100% !important;
  }
}

//monitor horizontal grande
@media screen and (min-width: 1920px) {
  .tabela-scroll-wrapper {
    height: 790px;
    min-height: 100% !important;
  }
}


.botao {
  background-color: green;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  height: 2em;
  width: 2em;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.botao:hover {
  background-color: darkgreen;
}

.tabela-scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Garante layout de tabela fixa para alinhar colunas */
.tabela-scroll {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Para evitar que conteúdo ultrapasse os cantos arredondados */
.tabela-scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.tabela-scroll-wrapper::-webkit-scrollbar-track {
  border-radius: 12px;
  background: #f1f1f1;
}

.tabela-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 12px;
}


/* Cabeçalho fixo */
.tabela-scroll thead th {
  background-color: rgba(220,220,220,10);
  border-bottom: #07af07;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.add {
  margin: -0.8em 0em -0.6em 0 !important;
  color: #07af07;
  font-size: 42px;
}

.add:hover {
  color: darkgreen;
}


.edit {
  font-size: 1.2em;
  margin-left: -11px !important;
  width: 24px;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  color: #03498f;
}

.del {
  font-size: 1.2em;
  margin-left: -11px !important;
  width: 24px;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  color: #a10202;
}

.convert {
  font-size: 1.2em;
  margin-left: -11px !important;
  width: 24px;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  color: orangered;
}

.subtab {
  width: 100%;
  font-size: 11px;
  margin-top: -1.2em !important;
}

.addEvent {
  margin: -8px 0 -12px 0 !important;
  color: #07af07;
}

.addEvent:hover {
  color: darkgreen;
}



.subtabDiv {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-rowDiv {
  display: table-row;
}

.table-cellDiv {
  display: table-cell;
  padding: 6px 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.headerDiv .table-cell {
  font-weight: bold;
  background: #f2f2f2;
}
