.glass-containerTable{
  padding: 0.5em 1em 0.5em 1em;
  overflow: hidden;
  min-height: auto !important;
  max-height: auto !important;
}

// .bodies {
//   min-height: 230px !important;
//   max-height: 350px !important;
// }
