.headiers {
  background-color: #181818 !important;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.bodies {
  background-color: azure !important;
}
.footies {
  background-color: #fff !important;
}
.form-signin {
  width: 100%;
  max-width: 756px;
  padding: 15px 15px 5px 15px;
  margin: auto;
  border: #95cbf9 1px solid;
  border-radius: 0.5em;
  background-color: #fff;
}

.form-signin input[type="email"]
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.login{
  color: #666;
  text-align: center;
}

.logoTitle {
  max-width: 300px;
 display: block;
  margin: 0 auto;
}

.logoBottom {
  max-width: 200px;
 display: block;
  margin: 0 auto;
}

.respError{
  font-size: 11px;
  margin-top: -8px;
}

.botao {
  margin-left: 1em;
  width: 6em;
}


.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    content: "Selecionar";
    background-color: #0b7cec;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.botao {
  margin: 1em 0 0 1em;
  width: 6em;
}
