<!-- <div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
  <ul *ngIf="!isCollapsed">

    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a class="nav-link" [routerLink]='["/"]'>Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/galeria"]'>Galeria</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/servicos"]'>Serviços</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/portfolio"]'>Portfolio</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/faqs"]'>FAQS</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/contato"]'>Contato</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
      <a class="nav-link" [routerLink]='["/entrar"]'>Entrar</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
      <a class="nav-link" [routerLink]='["/sair"]' (click)="sair()">Sair</a>
    </li>

  </ul>
</div> -->




<div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>

  <ul>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" [routerLink]="['/']">
        <i class="material-icons">home</i>
        <!-- <i class="fa fa-home"></i> -->
        <span *ngIf="!isCollapsed">Página principal</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/galeria']">
        <i class="material-icons">photo</i>
        <!-- <i class="fa fa-image"></i> -->
        <span *ngIf="!isCollapsed">Prospecção</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/servicos']">
        <i class="material-icons">build</i>
        <!-- <i class="fa fa-cogs"></i> -->
        <span *ngIf="!isCollapsed">Contrato</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/portfolio']">
        <i class="material-icons">work</i>
        <!-- <i class="fa fa-briefcase"></i> -->
        <span *ngIf="!isCollapsed">Evento</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/faqs']">
        <i class="material-icons">help</i>
        <!-- <i class="fa fa-question-circle"></i> -->
        <span *ngIf="!isCollapsed">Pós-Evento</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link" [routerLink]="['/contato']">
        <i class="material-icons">mail</i>
        <!-- <i class="fa fa-envelope"></i> -->
        <span *ngIf="!isCollapsed">Relatórios</span>
      </a>
    </li>
    
  </ul>
</div>
