.logo img {
  height: 40px;
}

@media screen and (width: 1080px) and (max-height: 1920px) {
  .sidebar {
    width: 200px; /* começa fechada nessa resolução */
  }
}

.sidebar {
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding: 1rem 0.5rem;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 60px; /* largura quando fechada */
}

.sidebar .toggle-btn {
  background-color: transparent;
  color: white;
  margin-left: 1rem;
  margin-bottom: 0.5em;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.sidebar ul li {
  padding: 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar .nav-item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar .nav-link i {
  width: 20px;
  text-align: center;
}

.sidebar .nav-link span {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link span {
  opacity: 0;
  width: 60px;
  overflow: hidden;
  display: none;
}

.nav-link:hover {
  width: 100%;
  background-color: #032230;
}

.material-icons {
  font-size: 22px;
  margin-right: 10px;
  width: 24px;
  text-align: center;
  padding: 0;
}

