.headiers {
  background-color: #181818 !important;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.bodies {
  background-color: azure !important;
}
.footies {
  background-color: #fff !important;
}

.form-signin {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: auto;
  border: #95cbf9 1px solid;
  border-radius: 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1em;
}

.form-signin img.logoTitle {
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

.form-signin div {
  flex: 2;
}

.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

.modal.show {
  display: block;
}
