.page-title-bar {
  margin: -2em -2em 2em -2em;
  padding: 1em;
  background-color: hsl(0, 0%, 96%);
  text-transform: uppercase;

  /* border-bottom: 1px solid #ddd; */
}

.page-title-bar h2 {
  margin: 0;
  font-size: 1.5em;
}
