<div class="contain">
  <div class="bodys">
  <div class="glass-container">
    <img src="../../../../assets/images/logoEventPro-login-Black.fw.png"
    class="logoTitle" />

    <form action="">


      <div class="alert alert-info" *ngIf="usuarioLogado">
        <p>Usuário conectado:
          <strong>{{usuarioLogado.nome}} {{usuarioLogado.sobreNome}}</strong>
        </p>
      </div>

      <div *ngIf="!usuarioLogado">

        <div class="floating-label" style="margin: 1em 0 1em 0 !important;">

          <input type="email" id="inputEmail" name="email" placeholder="E-mail"
            class="form-control" #email="ngModel" [(ngModel)]="usuario.email"
            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid && (email.dirty || email.touched)}" email required />

          <label for="inputEmail" style="margin-top: -0.1em !important">Email</label>

            <div class="invalid-feedback mb-2 respError" role="alert"
              *ngIf="email.invalid && (email.dirty || email.touched)" >
              <div *ngIf="email.errors.required">O E-mail é de preenchimento obrigatório!</div>
              <div *ngIf="email.errors.email">Formato de E-mail inválido!</div>
            </div>

          </div>

          <div class="floating-label">

            <input type="password" id="inputSenha" name="senha" placeholder="Senha"
              class="form-control mb-2" #senha="ngModel" [(ngModel)]="usuario.senha"
              [ngClass]="{'is-invalid': senha.invalid && (senha.dirty || senha.touched),
              'is-valid': senha.valid && (senha.dirty || senha.touched)}" required minlength="6" />
              
              <label for="inputSenha" style="margin-top: -0.1em !important">Senha</label>

                <div class="invalid-feedback mb-2 respError" role="alert"
                  *ngIf="senha.invalid && (senha.dirty || senha.touched)" >
                  <div *ngIf="senha.errors.required">A Senha deve informada!</div>
                  <div *ngIf="senha.errors.minlength">A Senha deve ter pelo menos 6 caracteres.</div>
                </div>

          </div>

            <div class="remember-forgot">
              <label><input type="checkbox"> Lembrar-me.</label>
                  <a href="#"> Esqueci a senha!</a>
            </div>

          <button class="btn login-btn"
            type="submit" (click)="entrar()" [disabled]="ativar_spinner">
            <span class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true" *ngIf="ativar_spinner"></span>Entrar
          </button>

        <div class="" *ngIf="mensagem"
          style="
            margin-top: 1em;
            color: orangered;
            font-size: 12px;
            align-items: center;
            text-align: center !important;
            overflow-y: auto;
            ">
          {{ mensagem }}
        </div>

      </div>

    </form>

  </div>

  </div>

</div>

