<div class="modal-backdrop fade show" (click)="fechar()"></div>

<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div
      class="modal-content">
      <div class="modal-header headiers">
        <h5 class="modal-title">{{ info }}</h5>
        <button
          type="button"
          class="close"
          (click)="fechar()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bodies">
        <div class="container-fluid">
          <!-- ------------------------------------------------------------------- -->
          <div>
            <form action="" class="glass-containerTable cadEvento">



<!-- Se o evento já tem cliente (modo editar) OU veio da tela de cliente -->
<ng-container *ngIf="evento.cliente || tela === 'cliente'">
  <div class="row tableHead">
    <div class="col-md-4 form-group floating-label">
      <input
        id="nome"
        type="text"
        class="form-control inputs"
        placeholder="Cliente"
        [value]="
          (evento.cliente?.nome || cliente?.nome) +
          ' ' +
          (evento.cliente?.sobreNome || cliente?.sobreNome)
        "
        readonly
      />
      <label for="nome">Cliente</label>
    </div>

    <div class="col-md-2 form-group floating-label">
      <input
        id="cpf"
        type="text"
        class="form-control inputs"
        placeholder="CPF"
        [value]="evento.cliente?.cpf || cliente?.cpf"
        readonly
      />
      <label for="cpf">CPF</label>
    </div>

    <div class="col-md-2 form-group floating-label">
      <input
        id="telefone"
        type="text"
        class="form-control inputs"
        placeholder="Telefone"
        [value]="evento.cliente?.telefone || cliente?.telefone"
        readonly
      />
      <label for="telefone">Telefone</label>
    </div>

    <div class="col-md-1 form-group floating-label">
      <input
        id="ehCliente"
        type="text"
        class="form-control inputs"
        placeholder="É cliente?"
        [value]="
          (evento.cliente?.ehCliente || cliente?.ehCliente) == 1
            ? 'Sim'
            : 'Não'
        "
        readonly
      />
      <label for="ehCliente">É cliente?</label>
    </div>

    <div class="col-md-3 form-group floating-label">
      <input
        id="cidade"
        type="text"
        class="form-control inputs"
        placeholder="Cidade"
        [value]="
          (evento.cliente?.bairro || cliente?.bairro) +
          ' - ' +
          (evento.cliente?.cidade || cliente?.cidade) +
          '/' +
          (evento.cliente?.uf || cliente?.uf)
        "
        readonly
      />
      <label for="cidade">Bairro/Cidade/UF</label>
    </div>
  </div>
</ng-container>

<!-- Se for cadastro de evento pela tela de evento -->
<ng-container *ngIf="!evento.cliente && tela === 'evento'">
  <div class="row tableHead">
    <div class="form-group floating-label col-md-4">
      <select
        id="clienteSelect"
        name="clienteId"
        class="form-control"
        [(ngModel)]="evento.clienteId"
        (change)="onClienteChange()"
      >
        <option [ngValue]="null">Selecione um cliente</option>
        <option *ngFor="let c of clientes" [ngValue]="c.id">
          {{ c.nome }} {{ c.sobreNome }}
        </option>
      </select>
      <label for="clienteSelect">Cliente</label>
    </div>

    <!-- Mostra dados do cliente selecionado -->
    <ng-container *ngIf="clienteSelecionado">
      <div class="col-md-2 form-group floating-label">
        <input
          id="cpf"
          type="text"
          class="form-control inputs"
          placeholder="CPF"
          [value]="clienteSelecionado.cpf"
          readonly
        />
        <label for="cpf">CPF</label>
      </div>
      <div class="col-md-2 form-group floating-label">
        <input
          id="telefone"
          type="text"
          class="form-control inputs"
          placeholder="Telefone"
          [value]="clienteSelecionado.telefone"
          readonly
        />
        <label for="telefone">Telefone</label>
      </div>
      <div class="col-md-1 form-group floating-label">
        <input
          id="ehCliente"
          type="text"
          class="form-control inputs"
          placeholder="É cliente?"
          [value]="clienteSelecionado.ehCliente == 1 ? 'Sim' : 'Não'"
          readonly
        />
        <label for="ehCliente">É cliente?</label>
      </div>
      <div class="col-md-3 form-group floating-label">
        <input
          id="cidade"
          type="text"
          class="form-control inputs"
          placeholder="Cidade"
          [value]="
            clienteSelecionado.bairro +
            ' - ' +
            clienteSelecionado.cidade +
            '/' +
            clienteSelecionado.uf
          "
          readonly
        />
        <label for="cidade">Bairro/Cidade/UF</label>
      </div>
    </ng-container>
  </div>
</ng-container>



              <!-- ------------------------------------------------------------------- -->

              <!-- Cabeçalho das Abas -->
              <ul class="nav nav-tabs" style="position: relative; width: 100%">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'evento'"
                    (click)="setTab('evento')"
                  >
                    Evento
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'servico'"
                    (click)="setTab('servico')"
                  >
                    Serviço
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'pagamento'"
                    (click)="setTab('pagamento')"
                  >
                    Pagamento
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'observ'"
                    (click)="setTab('observ')"
                  >
                    Observações
                  </a>
                </li>
              </ul>

              <!-- Conteúdo das Abas -->
              <div class="tab-content mt-3">
                <ng-container *ngIf="activeTab === 'evento'">
                  <div class="contaiDiv" style="padding: 0.6em !important">
                    <div class="row">
                      <div class="card dados">
                        <div class="card-header">
                          <div class="row d-flex justify-content-between">
                            <p>DADOS DO EVENTO</p>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row d-flex justify-content-between">
                            <!-- Tipo de Evento -->
                            <div class="col-md-12 mb-2">
                              <label for="inputNomeEvento" class="sr-only"
                                >Tipo de Evento</label
                              >
                              <input
                                type="text"
                                id="inputNomeEvento"
                                name="nomeEvento"
                                placeholder="Tipo de Evento"
                                class="form-control mb-2"
                                [ngClass]="{
                                  'is-invalid':
                                    nomeEvento.invalid &&
                                    (nomeEvento.dirty || nomeEvento.touched),
                                  'is-valid':
                                    nomeEvento.valid &&
                                    (nomeEvento.dirty || nomeEvento.touched)
                                }"
                                [(ngModel)]="evento.nomeEvento"
                                #nomeEvento="ngModel"
                                required
                              />

                              <div
                                class="invalid-feedback mb-2 respError"
                                role="alert"
                                *ngIf="
                                  nomeEvento.invalid &&
                                  (nomeEvento.dirty || nomeEvento.touched)
                                "
                              >
                                <div *ngIf="nomeEvento.errors.required">
                                  Tipo de evento é de preenchimento obrigatório!
                                </div>
                              </div>
                            </div>
                            <!-- Data do Evento -->
                            <div class="col-md-7 mb-2">
                              <label for="inputDataEvento" class="sr-only"
                                >Data do Evento</label
                              >
                              <input
                                type="date"
                                id="inputDataEvento"
                                name="dataEvento"
                                title="Data do Evento"
                                placeholder="Data do Evento"
                                class="form-control mb-2"
                                [ngClass]="{
                                  'is-invalid':
                                    dataEvento.invalid &&
                                    (dataEvento.dirty || dataEvento.touched),
                                  'is-valid':
                                    dataEvento.valid &&
                                    (dataEvento.dirty || dataEvento.touched)
                                }"
                                [(ngModel)]="evento.dataEvento"
                                #dataEvento="ngModel"
                                required
                              />

                              <div
                                class="invalid-feedback mb-2 respError"
                                role="alert"
                                *ngIf="
                                  dataEvento.invalid &&
                                  (dataEvento.dirty || dataEvento.touched)
                                "
                              >
                                <div *ngIf="dataEvento.errors.required">
                                  Data do Evento é obrigatória!
                                </div>
                              </div>
                            </div>
                            <!-- Convidados -->
                            <div class="col-md-5 mb-2">
                              <label for="inputConvidados" class="sr-only"
                                >Convidados</label
                              >
                              <input
                                type="number"
                                id="inputConvidados"
                                name="convidados"
                                placeholder="Convidados"
                                class="form-control mb-2"
                                [ngClass]="{
                                  'is-invalid':
                                    convidados.invalid &&
                                    (convidados.dirty || convidados.touched),
                                  'is-valid':
                                    convidados.valid &&
                                    (convidados.dirty || convidados.touched)
                                }"
                                [(ngModel)]="evento.convidados"
                                #convidados="ngModel"
                                required
                              />

                              <div
                                class="invalid-feedback mb-2 respError"
                                role="alert"
                                *ngIf="
                                  convidados.invalid &&
                                  (convidados.dirty || convidados.touched)
                                "
                              >
                                <div *ngIf="convidados.errors.required">
                                  Quantidade de convidados é obrigatória!
                                </div>
                              </div>
                            </div>
                            <!-- Hora inicial -->
                            <div class="col-md-6 mb-2">
                              <label for="inputHoraInicio" class="sr-only"
                                >Hora inicial</label
                              >
                              <input
                                type="time"
                                id="inputHoraInicio"
                                name="horaInicio"
                                title="Hora inicial"
                                placeholder="Hora inicial"
                                class="form-control mb-2"
                                [ngClass]="{
                                  'is-invalid':
                                    horaInicio.invalid &&
                                    (horaInicio.dirty || horaInicio.touched),
                                  'is-valid':
                                    horaInicio.valid &&
                                    (horaInicio.dirty || horaInicio.touched)
                                }"
                                [(ngModel)]="evento.horaInicio"
                                #horaInicio="ngModel"
                                required
                              />

                              <div
                                class="invalid-feedback mb-2 respError"
                                role="alert"
                                *ngIf="
                                  horaInicio.invalid &&
                                  (horaInicio.dirty || horaInicio.touched)
                                "
                              >
                                <div *ngIf="horaInicio.errors.required">
                                  Hora inicial é obrigatória!
                                </div>
                              </div>
                            </div>
                            <!-- Hora final -->
                            <div class="col-md-6 mb-2">
                              <label for="inputHoraFinal" class="sr-only"
                                >Hora final</label
                              >
                              <input
                                type="time"
                                id="inputHoraFinal"
                                name="horaFinal"
                                title="Hora final"
                                placeholder="Hora final"
                                class="form-control mb-2"
                                [ngClass]="{
                                  'is-invalid':
                                    horaFinal.invalid &&
                                    (horaFinal.dirty || horaFinal.touched),
                                  'is-valid':
                                    horaFinal.valid &&
                                    (horaFinal.dirty || horaFinal.touched)
                                }"
                                [(ngModel)]="evento.horaFinal"
                                #horaFinal="ngModel"
                                required
                              />

                              <div
                                class="invalid-feedback mb-2 respError"
                                role="alert"
                                *ngIf="
                                  horaFinal.invalid &&
                                  (horaFinal.dirty || horaFinal.touched)
                                "
                              >
                                <div *ngIf="horaFinal.errors.required">
                                  Hora final é obrigatória!
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card local">
                        <div class="card-header">
                          <div class="row d-flex justify-content-between">
                            <p>DADOS DO LOCAL</p>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row d-flex justify-content-between">
                            <div class="form-row">
                              <!-- Logradouro Evento -->
                              <div class="col-md-6 mb-2">
                                <label
                                  for="inputLogradouroEvento"
                                  class="sr-only"
                                  >Rua, Av., Travessa...</label
                                >
                                <input
                                  type="text"
                                  id="inputLogradouroEvento"
                                  name="logradouroEvento"
                                  placeholder="Rua, Av., Travessa..."
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      logradouroEvento.invalid &&
                                      (logradouroEvento.dirty ||
                                        logradouroEvento.touched),
                                    'is-valid':
                                      logradouroEvento.valid &&
                                      (logradouroEvento.dirty ||
                                        logradouroEvento.touched)
                                  }"
                                  [(ngModel)]="evento.logradouroEvento"
                                  #logradouroEvento="ngModel"
                                  required
                                />

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="
                                    logradouroEvento.invalid &&
                                    (logradouroEvento.dirty ||
                                      logradouroEvento.touched)
                                  "
                                >
                                  <div *ngIf="logradouroEvento.errors.required">
                                    Endereço do evento é de preenchimento
                                    obrigatório!
                                  </div>
                                </div>
                              </div>
                              <!-- Nº Logradouro Evento -->
                              <div class="col-md-2 mb-2">
                                <label
                                  for="inputNumLogradouroEvento"
                                  class="sr-only"
                                  >Nº</label
                                >
                                <input
                                  type="text"
                                  id="inputNumLogradouroEvento"
                                  name="numLogradouroEvento"
                                  placeholder="Nº"
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      numLogradouroEvento.invalid &&
                                      (numLogradouroEvento.dirty ||
                                        numLogradouroEvento.touched),
                                    'is-valid':
                                      numLogradouroEvento.valid &&
                                      (numLogradouroEvento.dirty ||
                                        numLogradouroEvento.touched)
                                  }"
                                  [(ngModel)]="evento.numLogradouroEvento"
                                  #numLogradouroEvento="ngModel"
                                  required
                                />

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="
                                    numLogradouroEvento.invalid &&
                                    (numLogradouroEvento.dirty ||
                                      numLogradouroEvento.touched)
                                  "
                                >
                                  <div
                                    *ngIf="numLogradouroEvento.errors.required"
                                  >
                                    Nº é obrigatório!
                                  </div>
                                </div>
                              </div>
                              <!-- Bairro Evento -->
                              <div class="col-md-4 mb-2">
                                <label for="inputBairroEvento" class="sr-only"
                                  >Bairro</label
                                >
                                <input
                                  type="text"
                                  id="inputBairroEvento"
                                  name="bairroEvento"
                                  placeholder="Bairro"
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      bairroEvento.invalid &&
                                      (bairroEvento.dirty ||
                                        bairroEvento.touched),
                                    'is-valid':
                                      bairroEvento.valid &&
                                      (bairroEvento.dirty ||
                                        bairroEvento.touched)
                                  }"
                                  [(ngModel)]="evento.bairroEvento"
                                  #bairroEvento="ngModel"
                                  required
                                />

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="
                                    bairroEvento.invalid &&
                                    (bairroEvento.dirty || bairroEvento.touched)
                                  "
                                >
                                  <div *ngIf="bairroEvento.errors.required">
                                    Bairro é obrigatório!
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- Cidade Evento -->
                              <div class="col-md-6 mb-2">
                                <label for="inputCidadeEvento" class="sr-only"
                                  >Cidade</label
                                >
                                <input
                                  type="text"
                                  id="inputCidadeEvento"
                                  name="cidadeEvento"
                                  placeholder="Cidade"
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      cidadeEvento.invalid &&
                                      (cidadeEvento.dirty ||
                                        cidadeEvento.touched),
                                    'is-valid':
                                      cidadeEvento.valid &&
                                      (cidadeEvento.dirty ||
                                        cidadeEvento.touched)
                                  }"
                                  [(ngModel)]="evento.cidadeEvento"
                                  #cidadeEvento="ngModel"
                                  required
                                />

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="
                                    cidadeEvento.invalid &&
                                    (cidadeEvento.dirty || cidadeEvento.touched)
                                  "
                                >
                                  <div *ngIf="cidadeEvento.errors.required">
                                    Cidade é obrigatória!
                                  </div>
                                </div>
                              </div>
                              <!-- UF Evento -->
                              <div class="col-md-2 mb-2">
                                <label for="inputUfEvento" class="sr-only"
                                  >UF</label
                                >
                                <select
                                  id="inputUfEvento"
                                  name="uf"
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      uf.invalid && (uf.dirty || uf.touched),
                                    'is-valid':
                                      uf.valid && (uf.dirty || uf.touched)
                                  }"
                                  [(ngModel)]="evento.uf"
                                  #uf="ngModel"
                                  required
                                >
                                  <option [ngValue]="undefined" disabled hidden>
                                    UF
                                  </option>
                                  <ng-container *ngFor="let uf of ufss">
                                    <option
                                      *ngFor="let item of Ufs(uf)"
                                      [ngValue]="item.uf"
                                    >
                                      {{ item.uf }}
                                    </option>
                                  </ng-container>
                                </select>

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="uf.invalid && (uf.dirty || uf.touched)"
                                >
                                  <div *ngIf="uf.errors.required">
                                    UF é obrigatório!
                                  </div>
                                </div>
                              </div>
                              <!-- CEP Evento -->
                              <div class="col-md-4 mb-2">
                                <label for="inputCepEvento" class="sr-only"
                                  >CEP</label
                                >
                                <input
                                  type="text"
                                  id="inputCepEvento"
                                  name="cepEvento"
                                  placeholder="CEP"
                                  class="form-control mb-2"
                                  [ngClass]="{
                                    'is-invalid':
                                      cepEvento.invalid &&
                                      (cepEvento.dirty || cepEvento.touched),
                                    'is-valid':
                                      cepEvento.valid &&
                                      (cepEvento.dirty || cepEvento.touched)
                                  }"
                                  [(ngModel)]="evento.cepEvento"
                                  #cepEvento="ngModel"
                                  required
                                />

                                <div
                                  class="invalid-feedback mb-2 respError"
                                  role="alert"
                                  *ngIf="
                                    cepEvento.invalid &&
                                    (cepEvento.dirty || cepEvento.touched)
                                  "
                                >
                                  <div *ngIf="cepEvento.errors.required">
                                    CEP é obrigatório!
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row"></div>
                  </div>
                </ng-container>

                <ng-container *ngIf="activeTab === 'servico'">
                  <div class="contaiDiv">
                    <app-contratar-servico></app-contratar-servico>
                  </div>
                </ng-container>

                <ng-container *ngIf="activeTab === 'pagamento'">
                  <div class="contaiDiv">
                    <!-- Data do Contrato -->
                    <div class="col-md-2 mb-2">
                      <label for="inputDataContrato" class="sr-only"
                        >Data do Contrato</label
                      >
                      <input
                        type="date"
                        id="inputDataContrato"
                        name="dataContrato"
                        title="Data do Contrato"
                        placeholder="Data do Contrato"
                        class="form-control mb-2"
                        [ngClass]="{
                          'is-invalid':
                            dataContrato.invalid &&
                            (dataContrato.dirty || dataContrato.touched),
                          'is-valid':
                            dataContrato.valid &&
                            (dataContrato.dirty || dataContrato.touched)
                        }"
                        [(ngModel)]="evento.dataContrato"
                        #dataContrato="ngModel"
                        required
                      />

                      <div
                        class="invalid-feedback mb-2 respError"
                        role="alert"
                        *ngIf="
                          dataContrato.invalid &&
                          (dataContrato.dirty || dataContrato.touched)
                        "
                      >
                        <div *ngIf="dataContrato.errors.required">
                          Data do Contrato é obrigatória!
                        </div>
                      </div>
                    </div>
                    <!-- parcelado? -->
                    <div class="col-md-2 mb-2">
                      <label for="inputParcelado" class="sr-only"
                        >Parcelado?</label
                      >

                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="inputParcelado"
                          name="parcelado"
                          [ngClass]="{
                            'is-invalid':
                              parcelado.invalid &&
                              (parcelado.dirty || parcelado.touched),
                            'is-valid':
                              parcelado.valid &&
                              (parcelado.dirty || parcelado.touched)
                          }"
                          [(ngModel)]="evento.parcelado"
                          #parcelado="ngModel"
                          required
                        />
                        <label class="form-check-label" for="inputParcelado"
                          >Parcelado?</label
                        >
                      </div>

                      <div
                        class="invalid-feedback mb-2 respError"
                        role="alert"
                        *ngIf="
                          parcelado.invalid &&
                          (parcelado.dirty || parcelado.touched)
                        "
                      >
                        <div *ngIf="parcelado.errors.required">
                          Parcelado é obrigatória!
                        </div>
                      </div>
                    </div>
                    <!-- Qtde Parcelas -->
                    <div class="col-md-2 mb-2">
                      <label for="inputQtdeParcelas" class="sr-only"
                        >Qtde Parcelas</label
                      >
                      <input
                        type="text"
                        id="inputQtdeParcelas"
                        name="qtdeParcelas"
                        placeholder="Qtde Parcelas"
                        class="form-control mb-2"
                        [ngClass]="{
                          'is-invalid':
                            qtdeParcelas.invalid &&
                            (qtdeParcelas.dirty || qtdeParcelas.touched),
                          'is-valid':
                            qtdeParcelas.valid &&
                            (qtdeParcelas.dirty || qtdeParcelas.touched)
                        }"
                        [(ngModel)]="evento.qtdeParcelas"
                        #qtdeParcelas="ngModel"
                        required
                      />

                      <div
                        class="invalid-feedback mb-2 respError"
                        role="alert"
                        *ngIf="
                          qtdeParcelas.invalid &&
                          (qtdeParcelas.dirty || qtdeParcelas.touched)
                        "
                      >
                        <div *ngIf="qtdeParcelas.errors.required">
                          Quantidade de Parcelas é obrigatório!
                        </div>
                      </div>
                    </div>
                    <!-- Valor Parcelas -->
                    <div class="col-md-2 mb-2">
                      <label for="inputValorParcelas" class="sr-only"
                        >Valor de Parcela</label
                      >
                      <input
                        type="text"
                        id="inputValorParcelas"
                        name="valorParcelas"
                        placeholder="Valor de Parcela"
                        class="form-control mb-2"
                        [ngClass]="{
                          'is-invalid':
                            valorParcelas.invalid &&
                            (valorParcelas.dirty || valorParcelas.touched),
                          'is-valid':
                            valorParcelas.valid &&
                            (valorParcelas.dirty || valorParcelas.touched)
                        }"
                        [(ngModel)]="evento.valorParcelas"
                        #valorParcelas="ngModel"
                        required
                      />

                      <div
                        class="invalid-feedback mb-2 respError"
                        role="alert"
                        *ngIf="
                          valorParcelas.invalid &&
                          (valorParcelas.dirty || valorParcelas.touched)
                        "
                      >
                        <div *ngIf="valorParcelas.errors.required">
                          CEP é obrigatório!
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="activeTab === 'observ'">
                  <div class="contaiDiv">
                    <!-- Observações -->
                    <div class="col-md-12 mb-2" style="margin-top: 1em">
                      <label for="inputObservacoes" class="sr-only"
                        >Observações</label
                      >
                      <textarea
                        style="max-height: 98%"
                        id="inputObservacoes"
                        rows="10"
                        name="observacoes"
                        placeholder="Observações"
                        class="form-control mb-2"
                        [ngClass]="{
                          'is-invalid':
                            observacoes.invalid &&
                            (observacoes.dirty || observacoes.touched),
                          'is-valid':
                            observacoes.valid &&
                            (observacoes.dirty || observacoes.touched)
                        }"
                        [(ngModel)]="evento.observacoes"
                        #observacoes="ngModel"
                        required
                        minlength="50"
                      ></textarea>

                      <div
                        class="invalid-feedback mb-2 respError"
                        role="alert"
                        *ngIf="
                          observacoes.invalid &&
                          (observacoes.dirty || observacoes.touched)
                        "
                      >
                        <div *ngIf="observacoes.errors.required">
                          Observações é de preenchimento obrigatório!
                        </div>
                        <div *ngIf="observacoes.errors.minlength">
                          Observações deve ter o mínimo de 50 caracteres!
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>

              <div class="alert alert-danger" *ngIf="mensagem">
                {{ mensagem }}
              </div>

              <div class="alert alert-success" *ngIf="eventoCadastrado">
                Evento cadastrado com sucesso!
              </div>
            </form>
          </div>

          <!-- ------------------------------------------------------------------- -->
        </div>
      </div>
      <div class="modal-footer footies">
        <button
          class="btn btn-outline-success btn-lg btYes col-md-2"
          type="submit"
          (click)="cadastrarEvento()"
          [disabled]="ativar_spinner"
        >
          <span
            *ngIf="ativar_spinner"
            role="status"
            aria-hidden="true"
            class="spinner-border spinner-border-sm"
          ></span>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g fill="none">
                <path
                  fill="currentColor"
                  d="m15 10l-.986-.164A1 1 0 0 0 15 11zM4 10V9a1 1 0 0 0-1 1zm16.522 2.392l.98.196zM6 21h11.36v-2H6zM18.56 9H15v2h3.56zm-2.573 1.164l.805-4.835L14.82 5l-.806 4.836zM14.82 3h-.214v2h.214zm-3.543 1.781L8.763 8.555l1.664 1.11l2.516-3.774zM7.93 9H4v2h3.93zM3 10v8h2v-8zm17.302 8.588l1.2-6l-1.96-.392l-1.2 6zM8.762 8.555A1 1 0 0 1 7.93 9v2a3 3 0 0 0 2.496-1.336zm8.03-3.226A2 2 0 0 0 14.82 3v2zM18.56 11a1 1 0 0 1 .981 1.196l1.961.392A3 3 0 0 0 18.561 9zm-1.2 10a3 3 0 0 0 2.942-2.412l-1.96-.392a1 1 0 0 1-.982.804zM14.606 3a4 4 0 0 0-3.328 1.781l1.664 1.11A2 2 0 0 1 14.606 5zM6 19a1 1 0 0 1-1-1H3a3 3 0 0 0 3 3z"
                />
                <path stroke="currentColor" stroke-width="1.1" d="M8 10v10" />
              </g>
            </svg>
          </span>
          Salvar
        </button>
        <button
          class="btn btn-outline-secondary btn-lg btNo col-md-2"
          (click)="cancelar()"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <g fill="none">
                <path
                  fill="currentColor"
                  d="m15 14l-.986.164A1 1 0 0 1 15 13zM4 14v1a1 1 0 0 1-1-1zm16.522-2.392l.98-.196zM6 3h11.36v2H6zm12.56 12H15v-2h3.56zm-2.573-1.164l.805 4.835L14.82 19l-.806-4.836zM14.82 21h-.214v-2h.214zm-3.543-1.781l-2.515-3.774l1.664-1.11l2.516 3.774zM7.93 15H4v-2h3.93zM3 14V6h2v8zm17.302-8.588l1.2 6l-1.96.392l-1.2-6zM8.762 15.445A1 1 0 0 0 7.93 15v-2a3 3 0 0 1 2.496 1.336zm8.03 3.226A2 2 0 0 1 14.82 21v-2zM18.56 13a1 1 0 0 0 .981-1.196l1.961-.392A3 3 0 0 1 18.561 15zm-1.2-10a3 3 0 0 1 2.942 2.412l-1.96.392A1 1 0 0 0 17.36 5zm-2.754 18a4 4 0 0 1-3.328-1.781l1.664-1.11a2 2 0 0 0 1.664.891zM6 5a1 1 0 0 0-1 1H3a3 3 0 0 1 3-3z"
                />
                <path stroke="currentColor" stroke-width="1.1" d="M8 14V4" />
              </g>
            </svg>
          </span>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
